$green : #2E4E31;
$fontFamily : "Lucida Sans Unicode","Courier New","Comic Sans MS";

.mainDivActivities {
	color: white;
	margin-bottom: 12%;
}


.one {
	width: 78rem;
	height: 25rem;
	margin-top: 3rem;
}

.two {
	width: 78rem;
	height: 25rem;
}

.three {
	width: 78rem;
	height: 25rem;
}

.heading {

}

.description-one {
	display: flex;
	justify-content: space-around;
	align-content: center;
}

.image {
	justify-content: flex-start;
	width: 26rem;
	height: 20rem;
}

.img-one{
	width: 100%;
	height: 100%;
	border-radius: 2rem;
}

.text {
	justify-self : end;
	width: 40rem;
}

.img-two{
	width: 100%;
	height: 100%;
	border-radius: 2rem;
}

.img-three{
	width: 100%;
	height: 100%;
	border-radius: 2rem;
}

.text_direction{
	margin-top: 3rem;
}

.layout_one{
	color:$green;
	font-family: $fontFamily;
	text-align: center;
	box-shadow: 5px 5px 10px 5px $green;
}